/*footer*/

.footer {
    padding: 0;
}

.footer {
    background-color: #331A4D;
    text-align: center;

    width: 100%;
     /* Define a altura do footer */
    bottom: 0; /* Posiciona o footer na parte inferior */
  }

.footer i {
    color: #4f9cf9;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p {
    margin-top: 10px;
    color: white;
}
