@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bodyPag {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #4f46e5;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.PagAdm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que o contêiner ocupe pelo menos 100% da altura da viewport */
    margin: auto;
}

.admLetra {
    flex: 1 1 50%; /* Ocupa 50% do espaço disponível */
    text-align: center;
    font-size: 200%;
}

/* Responsividade */
@media (max-width: 768px) {
    .bodyPag {
        flex-direction: column;
    }

    main {
        position: static;
        padding: 10px;
        padding-top: 80px; /* Espaço extra para o menu fixo */
    }

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 40%;
        max-width: none;
        min-width: 82px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    #sidebar.open-sidebar {
        transform: translateX(0);
    }

    #open_btn {
        position: fixed;
        top: 20px;
        
        z-index: 10;
    }

    #open_btn_icon {
        transform: rotate(0deg);
    }

    .open-sidebar #open_btn_icon {
        transform: rotate(180deg);
    }

    .item-description {
        width: 0px;
    }

    #sidebar.open-sidebar .item-description {
        width: auto;
    }

    #sidebar.open-sidebar .side-item a {
        justify-content: center;
    }

    .imgAdm {
        width: 80%;
        margin: auto;
        display: flex;
    }

    .item-description {
        width: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        transition: width .6s;
        height: 0px;
    }
}

@media (max-width: 733px) {
    .bodyPag {
        flex-direction: column;
    }

    main {
        position: static;
        padding: 10px;
        padding-top: 80px; /* Espaço extra para o menu fixo */
    }

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 40%;
        max-width: none;
        min-width: 82px;
        transform: translateX(-40%);
        transition: transform 0.3s ease-in-out;
    }

    #sidebar.open-sidebar {
        transform: translateX(0);
    }

    #open_btn {
        position: fixed;
        top: 20px;
    
        z-index: 10;
    }

    #open_btn_icon {
        transform: rotate(0deg);
    }

    .open-sidebar #open_btn_icon {
        transform: rotate(180deg);
    }

    .item-description {
        width: 0px;
    }

    #sidebar.open-sidebar .item-description {
        width: auto;
    }

    #sidebar.open-sidebar .side-item a {
        justify-content: center;
    }

    .item-description {
        width: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        transition: width .6s;
        height: 0px;
    }

    .imgAdm {
        width: 80%;
        margin: auto;
        align-items: center;
        display: flex;
    }
    
    .admLetra {
        flex: 1 1 50%; /* Ocupa 50% do espaço disponível */
        text-align: center;
        font-size: 100%;
    }

    #user {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px;
    }
    
    #user_avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 20px;
        margin: auto;
        align-items: center;
        display: flex;
    }
    #logout {
        border-top: 1px solid #e3e9f7;
        padding: 12px;
        margin: auto;
        align-items: center;
        display: flex;
    }
}

@media (max-width: 460px) {
    #user_avatar {
        width: 30px; /* Ajuste o tamanho conforme necessário */
        height: 30px; /* Ajuste o tamanho conforme necessário */
    }

    #logout {
        border-top: 1px solid #e3e9f7;
        padding: 12px;
        margin: auto;
        align-items: center;
    }

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 60%;
        max-width: none;
        min-width: 82px;
        transform: translateX(-40%);
        transition: transform 0.3s ease-in-out;
    }
}

.btnRemo {
    display: inline-block;
    color: #f44336;               /* Cor do texto */
    text-align: center;         /* Alinhamento do texto */
    font-size: 16px;            /* Tamanho da fonte */
    font-weight: bold;          /* Negrito */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    margin-left: 20px;
}

.btnRemo:hover {
   color: #d32f2f;  /* Cor de fundo ao passar o mouse */
}