.bodi {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.headers {
    background-color:#fff;
    color: #331A4D;
    padding: 20px;
    text-align: center;
}

    

main {
    padding: 20px;
    
}
.imagi{
    align-items: right;
     
    right: 200%;

 
}
.game {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.theams {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: rebeccapurple;
   
}


.versus {
    margin: 0 10px;
    color: rebeccapurple;
}

.datetime {
    text-align: center;
    margin-bottom: 10px;
    color:red (13, 13, 83);
}

.date, .time {
    font-size: 1.6em;
    color:black;
}

.location {
    text-align: center;
    font-size: 1em;
    color:rgb(42, 42, 124);
}